{
    "presets": [
        [
            "@babel/preset-env", 
            {
            "targets": ["last 5 versions"]
                // "targets": "> 0.25%",
                // "useBuiltIns": "entry"
            }
        ]
    ]
}