* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}

section {
  display: none;
  &.active {
    display: block;
  }
}

@import "./navbar";

// ==============================

html,
body {
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */
  font-size: 16px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  background-color: #8c9eff;
}
a {
  text-decoration: none;
}

.top-nav {
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  border-radius: 4px;
  box-shadow: -2px -2px 4px 1px #c0cfff, 2px 2px 4px 1px #5870cb;
}
.top-nav__item {
  display: inline-block;
  width: 40%;
  padding: 8px;
  color: snow;
  text-align: center;
  border-radius: 2px;
}
.top-nav__item.active {
  box-shadow: inset -2px -2px 4px 0px #c0cfff, inset 2px 2px 4px 1px #5870cb;
}

#total {
  background-color: #dfe6e9;
  padding: 1rem;
  color: #6c5ce7;
  font-weight: bold;
  text-align: center;
  /* display: flex;
    align-items: center; */
  font-size: 2em;
}

.list-item {
  display: flex;
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  &:nth-of-type(even) {
    background-color: #b2bfff;
  }
}

#decrease-increase-wrapper {
  margin: 0.5rem;
}
#decrease,
#increase {
  display: none;
  flex-direction: column;
  border: 1px solid #dfe6e9;
}
#decrease.active,
#increase.active {
  display: flex;
}
/* #decrease > h2, #increase > h2 { */
h2 {
  background-color: #dfe6e9;
  color: #6c5ce7;
  font-weight: bold;
  padding: 0.5rem;
}
#decrease > input,
#increase > input {
  border: none;
  margin: 0.5rem;
  background: none;
  border-bottom: 1px solid #dfe6e9;
  padding: 0.5rem;
}
#decrease > button,
#increase > button {
  border: none;
  background-color: #636e72;
  color: snow;
  padding: 0.5rem;
}

.list-wrapper {
  margin: 0.5rem;
  border: 1px solid #dfe6e9;
  display: none;
}
.list-wrapper.active {
  display: block;
}
#bought-list {
  margin: 0.5rem;
}

#shopping-list-wrapper {
  margin: 0.5rem;
  border: 1px solid #dfe6e9;
}
.shopping-list {
  background-color: snow;
  margin: 0.5rem 0.25rem 0;
}
.shopping-list h3 {
  background-color: #dfe6e9;
  color: #6c5ce7;
  font-weight: bold;
  padding: 0.25rem;
}
.shopping-list li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

.add-item {
  width: 100%;
  border: none;
  background-color: #636e72;
  color: snow;
  padding: 0.5rem;
}
.add-item.add-item_close {
  display: none;
}
.new-item {
  display: none;
  border: 3px solid #6c5ce7;
}
.new-item.active {
  display: flex;
}
.new-item input {
  width: 100%;
  border: none;
  padding: 4px;
}
.new-item button {
  background-color: #6c5ce7;
  color: snow;
  padding: 6px 16px;
  border: none;
}
